__pycache__
cache
build
dist
outputs
*.pt
*egg-info*
*.csv
*.jpg
*.png
*.pdf
*.log
wandb
tmp
dev
.idea
*.pyc
.idea
*.zip
cache
log
cuda/build
*.so
*.egg-info
*.o
.vscode
.whl
*.egg
*.json
*.pth
*.xlsx

!images/
!images/*.png
eval/ruler/data/models